:root {
  --ichthusBlauw: #006b85;
  --ichthusLichtblauw: #deedf8;
  --ichthusOranje: #ef7911;
  --ichthusZwart: #171717;

  /* Deze komen van ichthuslyceum.nl */
  --global-palette4: #4f4f4f;
  --global-palette5: #4f4f4f;
  --global-palette6: #e5e5e5;
  --global-palette7: #ffe386;
  --global-palette9: #ffffff;
  --global-palette9rgb: 255, 255, 255;

  --global-content-width: 1200px;
  --global-content-edge-padding: 1.5rem;
}

/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  color: #333;
  line-height: 1.6;
}

/* Hero section */
#FrontImage {
  width: 100%;
  text-align: center;
  /* padding-bottom: 250px; */
  color: #fff;
  background-image: url("https://cdn-kiosk-api.telegraaf.nl/ba6754c0-4768-11ea-8ad0-02d2fb1aa1d7.jpg");
  background-position: center;
  background-size: cover;
  background-repeat:space;
  background-color: #1f10025f;/*rgba(200,100,0,.5);*/
  background-blend-mode: multiply;
  
}

.bluefadeOverlay {
  background: linear-gradient(to top, #00000000 40%, var(--ichthusBlauw) 150%);
}

.content {
  max-width: var(--global-content-width, 1200px);
  padding: var(--global-content-edge-padding);
  margin:auto;
}

.fadeOnScroll{
  opacity: 0;
  filter: blur(5px);
  transition: opacity 1s ease-in-out;
  transition: filter 1s ease-in-out;
  transition-delay: 0.4s;

}
.fadeOnScroll.show{
  opacity: 1;
  filter: blur(0);
}

/* TODO: vanaf hier Miss naar lokaal document? */
.gallery{
  display: flex;
  grid-gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}
.gallery li {
  display: inline-block;
  border-radius: 10%;
  background-color:white;
  list-style-type:none;
  padding: 0.5rem;
  flex-basis: calc(16.6% - 1rem);
  min-width: 8rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.3s ease-in-out;
}

.gallery li:hover{
  border-radius: 5%;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.gallery li img{
  width: 100%;
  aspect-ratio: 4/3;
  overflow: hidden;
  object-fit:contain;
  border-radius:10%;
  background-color: white;
}


#FrontImage .bluefadeOverlay {
  padding: 15vh 0;
}

#FrontImage h1 {
  font-size: 2.25rem;
  margin-bottom: 1.25rem;
}

#FrontImage p {
  font-size: 1.125rem;
  margin-bottom: 1.875rem;
}

#FrontImage .btn {
  display: inline-block;
  
  padding: 0.625rem 0.625rem;
  opacity: 0.9;
  transition: opacity 0.3s ease;
}

#FrontImage .btn:hover {
  opacity: 1;
}

#FrontImage .btn img{
  height: 8em;
  transition: height 0.3s ease;
}

#FrontImage .btn:hover img{
  height: 9em;
}

/* Features section */
#features {
  background-color: #fff;
  padding: 2.5rem 0;
}

#features h2 {
  text-align: center;
  font-size: 1.75rem;
  margin-bottom: 40px;
}

.feature {
  text-align: center;
  margin-bottom: 40px;
}

.feature i {
  font-size: 2.25rem;
  margin-bottom: 20px;
}

.custom-shape-divider-bottom-1690119695 {
  width: 100%;
  /* overflow: hidden; */
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1690119695 svg {
  display: block;
  width: calc(100% + 1.3px);
  height: 10vw;
}

.custom-shape-divider-bottom-1690119695 .shape-fill {
  fill: white;
}

#MainProduct img{
  float: right;
}