header {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 20%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
}

#mainHeader {
    display: flex;
    height: 100%;
}

.mainHeaderLogo {
    /* flex-grow: 1; */
    height: 100%;
}

.mainHeaderLogo img {
    height: 100%;
}

.headernav {
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.headernav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}

/* Change the color of links on hover */
.headernav a:hover {
    text-decoration: underline;
    color: #d1d1d1;
}

/* Hide the link that should open and close the topnav on small screens */
.headernav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .headernav a:not(:first-child) {
        display: none;
    }

    .headernav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .headernav.responsive {
        position: relative;
    }

    .headernav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .headernav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}