header {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 15%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
}

#mainHeader {
    display: flex;
    justify-content:space-between;
    height: 100%;
}

.mainHeaderLogo {
    /* flex-grow: 1; */
    height: 100%;
}

.mainHeaderLogo img {
    height: 100%;
}

#HeaderTechnasiumLogo {
    height: 50%;
    margin-top: 7.5%;
    margin-bottom: 7.5%;
}

.headernav {
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.headernav a {
    /* float: left; */
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}

.headernav:hover{
    font-weight: bold;
}
  
.headernav:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.headernav:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Hide the link that should open and close the topnav on small screens */
.headernav .icon {
    display: none;
}

@media screen and (max-width: 700px) {
     .headernav a/*:not(:first-child)*/ {
        display: none;
    } 

    .headernav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 700px) {
    .headernav.responsive {
        position: relative;
    }

    .headernav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .headernav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}