:root {
  --ichthusBlauw: #006b85;
  --ichthusOranje: #ef7911;
  --ichthusZwart: #171717;

  /* Deze komen van ichthuslyceum.nl */
  --global-palette4: #4f4f4f;
  --global-palette5: #4f4f4f;
  --global-palette6: #e5e5e5;
  --global-palette7: #ffe386;
  --global-palette8: #deedf8;
  --global-palette9: #ffffff;
  --global-palette9rgb: 255, 255, 255;
}


/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  width: 100%;
  height: 100%;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  color: #333;
  line-height: 1.6;
}

main{
  width: 100%;
  height: 100%;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

/* Hero section */
.FrontImage {
  width: 100%;
  text-align: center;
  padding-bottom: 250px;
  color: #fff;
  background-image: url("https://cdn-kiosk-api.telegraaf.nl/ba6754c0-4768-11ea-8ad0-02d2fb1aa1d7.jpg");
  background-position: center;
  background-size: cover;
  background-repeat:space;
  background-color: #1f10025f;/*rgba(200,100,0,.5);*/
  background-blend-mode: multiply;
}

.FrontImage div {
  height: 100px;
  padding: 250px 0;
  background: linear-gradient(to top, #00000000 40%, var(--ichthusBlauw) 150%);
}

.FrontImage h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.FrontImage p {
  font-size: 18px;
  margin-bottom: 30px;
}

.FrontImage .btn {
  display: inline-block;
  
  padding: 10px 10px;
  opacity: 0.9;
  transition: opacity 0.3s ease;
}

.FrontImage .btn:hover {
  opacity: 1;
}

.FrontImage .btn img{
  height: 8em;
  transition: height 0.3s ease;
}

.FrontImage .btn:hover img{
  height: 10em;
}

/* Features section */
#features {
  background-color: #fff;
  padding: 40px 0;
}

#features h2 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 40px;
}

.feature {
  text-align: center;
  margin-bottom: 40px;
}

.feature i {
  font-size: 36px;
  margin-bottom: 20px;
}

