#Machines {
  background-color: white;
  padding-bottom: 2rem;
}

/* Features section */
#features {
  background-color: var(--ichthusLichtblauw);
  padding: 5rem 0;
  position: relative;
}

#features h2 {
  text-align: center;
  font-size: 1.75rem;
  margin-bottom: 40px;
}

.feature {
  text-align: center;
  margin-bottom: 40px;
}

.feature i {
  font-size: 2.25rem;
  margin-bottom: 20px;
}

.sectionDivider-top .shape-fill, .sectionDivider-bottom .shape-fill{
  fill: white;
}

.gallery{
  display: flex;
  grid-gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}
.gallery a {
  display: inline-block;
  border-radius: 10%;
  background-color:white;
  list-style-type:none;
  padding: 0.5rem;
  flex-basis: calc(16.6% - 1rem);
  min-width: 8rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.3s ease-in-out;
}

.gallery a:hover{
  border-radius: 5%;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.gallery a img{
  width: 100%;
  aspect-ratio: 4/3;
  overflow: hidden;
  object-fit:contain;
  border-radius:10%;
  background-color: white;
}

#FrontImage {
  padding: 25vh 0;
  padding-top: 15vh;
  background-image: url("https://cdn-kiosk-api.telegraaf.nl/ba6754c0-4768-11ea-8ad0-02d2fb1aa1d7.jpg");
}



#FrontImage p {
  font-size: 1.125rem;
  margin-bottom: 1.875rem;
}

#FrontImage .btn {
  display: inline-block;
  
  padding: 0.625rem 0.625rem;
  opacity: 0.9;
  transition: opacity 0.3s ease;
}

#FrontImage .btn:hover {
  opacity: 1;
}

#FrontImage .btn img{
  height: 8em;
  transition: height 0.3s ease;
}

#FrontImage .btn:hover img{
  height: 9em;
}

